<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body>
<table align="center" width="100%" cellpadding="0" cellspacing="0" border="0" class="deviceWidth">
    <tr>
        <td style="font-size: 14px; color: #333366; font-weight: normal; text-align: center; font-family: Arial, sans-serif; line-height: 20px; vertical-align: top; padding: 5px">
            <p style="margin:0">
                <b>Name</b> - <span th:text="${name}"></span><br/>
                <b>Email</b> - <span th:text="${email}"></span><br/>
                <b>Age</b> - <span th:text="${age}"></span><br/>
            </p>
        </td>
    </tr>
</table>
</body>
</html>